
img{
    width: 100%;
    height: 100%;
}
.row{
    height: 400px;
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}
.row > div{
    flex: 1; /* row ar moddhe flex kora sob div gulo soman width daoar jonno flex:1 use kora hoise*/
}

.vertical-collage img{
    height: calc( (100% - 5px)/2 ); /* image duitar height 50% ar gap daoai total 100% ar besi hoye jai nicher image nicher dike cole ase,tai height thik rakhar jonno aivabe height daoa hoi*/
}

.square-collage{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

/* Responsive Media Query */
@media screen and (max-width:576px) {
    .row{
        flex-direction: column;
        height: auto;
    }
    .square-collage{
        grid-template-columns: 1fr;
    }
}

/* medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .row{
        flex-direction: column;
        height: auto;
    }
}